@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,700|Open+Sans:800);



body {
	background: #fff;
	color: #333;
	font-weight: 500;
	font-size: 1em;
	font-family: 'Raleway', Arial, sans-serif;
}

